body {
    border: 0cap;
    padding: 0%;
    margin: 0%;
    font-family: 'Oswald', sans-serif;
}
.container-fluid{   
    font-family: 'Bebas Neue', sans-serif;
}
footer{   
    font-family: 'Bebas Neue', sans-serif;
    background-color: #8C2703;
    color: white;    
    
}
.testi {
    font-family: 'Oswald', sans-serif;    
    font-size: 24px;
}
#descrizione {
    text-align: center;
}
.navbar fixed-top navbar-expand-lg bg-body-tertiary{
    padding: 0% 0% 0% 0%;
}


#main-header{
    background-image: url(../images/tagliatelle.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-header h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 72px;
    margin: 0px;
    text-shadow: 5px 5px 3px black;
}

#main-header p{
    font-family: 'Pacifico', sans-serif;
    margin: 8px;
    font-size: 24px;
    text-shadow: 5px 5px 3px black;
}
.container h2{
    color: #0371A6;    
    text-align: center;
    font-size: 48px;
    margin-top: 16px;
}
.container h3{    
    color: #0371A6;
    text-align: center;
    font-size: 32px;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;  
}
.container {    
    width: 900px;
    margin: 0 auto 0 auto;    
}

.tabella {    
    margin: auto;
    align-items: center;
    height: fit-content;
    width: fit-content;
    border-bottom: 1px solid black;
}

.tabella thead th{
    width: 300px;
    justify-content: center;
    align-items: left;   
}
.tabella th{
    width: 300px;
    justify-content: center;
    align-items: left;
    border: 1px solid black;
}
.tabella td{
    text-align: right;
    border-right: 1px solid black;
}

.tabella .nomi-alimenti {
    text-align: left;
    border-left: 1px solid black;    
}
.separator {
    width: 100px;
    height: 4px;
    background-color: #c1922e;
    margin: 16px auto;
}

#pippo {
    text-align: center;
}
