<footer class="container-fluid p-2 p-lg-5">
    <div class="row">
        <section class="opening-hours col-12 col-lg-4">
            <h2 class="footer-section-title">Orari di Apertura</h2>
            <table>
                <thead>
                    <tr>
                        <th>Giorno</th>
                        <th>Mattina</th>
                        <th>Pomeriggio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lunedì</td>
                        <td>Chiuso</td>
                        <td>Chiuso</td>
                    </tr>
                    <tr>
                        <td>Martedì</td>
                        <td>12:00 - 15:00</td>
                        <td>19:00 - 24:00</td>
                    </tr>
                    <tr>
                        <td>Mercoledì</td>
                        <td>12:00 - 15:00</td>
                        <td>19:00 - 24:00</td>
                    </tr>
                    <tr>
                        <td>Giovedì</td>
                        <td>12:00 - 15:00</td>
                        <td>19:00 - 24:00</td>
                    </tr>
                    <tr>
                        <td>Venerdì</td>
                        <td>12:00 - 15:00</td>
                        <td>19:00 - 24:00</td>
                    </tr>
                    <tr>
                        <td>Sabato</td>
                        <td>12:00 - 15:00</td>
                        <td>19:00 - 24:00</td>
                    </tr>
                    <tr>
                        <td>Domenica</td>
                        <td>12:00 - 15:00</td>
                        <td>19:00 - 24:00</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="where-we-are col-12 col-lg-4">
            <h2 class="footer-section-title">Dove Siamo</h2>
            <iframe width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://www.openstreetmap.org/export/embed.html?bbox=8.286395072937013%2C39.97725164260922%2C8.323259353637697%2C40.000563846393405&amp;layer=mapnik&amp;marker=39.988909359691846%2C8.304836049999949"
                style="border: 1px solid black"></iframe>
        </section>
        <section class="where-we-are col-12 col-lg-4">
            <h2 class="footer-section-title">Credits</h2>
            Questo sito è realizzato dagli studenti della TNV Academy
        </section>
    </div>
</footer>