<!--     <div class="card shadow" *ngIf="piatto"> -->
<div class="card shadow" >
    <img [src]="piatto?.imageUrl" class="card-img-top" [alt]="piatto?.title" />
    <div class="card-body">
        <h5 class="card-title"><span role="button" (click)="onClick()">{{ piatto?.title | titlecase }}</span> - {{ piatto?.price | currency }}</h5>
        <p class="card-text">
            {{ piatto?.description }}
        </p>
        <button class="btn btn-danger" (click)="onDelete()">Cancella</button>
    </div> 
</div>