<div class="container">
    <section class="menu">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">{{ title }}</h2>
                <div class="separator"></div>
            </div>
        </div>

        <app-edit-piatto (savePiatto)="onSavePiatto($event)"></app-edit-piatto>

        <app-menu-section *ngFor="let section of sections" 
            (itemClicked)="onItemClicked($event)" 
            (delete)="onDelete($event)" 
            [piatti]="section"
            [title]="section[0].category"
        ></app-menu-section>

    </section>
</div>