<nav class="navbar navbar-expand-lg bg-light fixed-top shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">THE NET PIZZA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="window.location.href='../../index.html';">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#menu">I nostri piatti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacts">Contatti</a>
                </li>
            </ul>
        </div>
        {{ apiService.menu.length }} piatti in menu
    </div>
</nav>
